[submodule "Libraries/ThirdParty/googletest"]
	path = Libraries/ThirdParty/googletest
	url = https://github.com/chcly/googletest.git
[submodule "Config/Modules"]
	path = Config/Modules
	url = https://github.com/chcly/CMakeModules.git
